<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Administração </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
        <link rel="stylesheet" href="{% static "css/custom-styles.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
        <link rel="stylesheet" href="{% static "css/component.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome-ie7.css" %}">
        <link rel="stylesheet" href="{% static "css/login.css" %}">

        <script src="{% static "js/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>
<body>
    {% if user.username == 'admin' %}
        <div class="container">
            <div class="site-header">
                <div class="site-header">
                    <div class="loginbtn">
                            <p> Bem Vindo {{ user.username }} </p>
                            <a href="/logout" class="btnout">logout</a>
                        <h1> Administração </h1>
                    </div>
                <div class="menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="/admin">Utilizadores</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Noticias <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">Adicionar</a></li>
                                    <li><a href="">Eliminar</a></li>
                                    <li><a href="">Editar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Eventos <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">Adicionar</a></li>
                                    <li><a href="">Eliminar</a></li>
                                    <li><a href="">Editar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Questionários <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">Adicionar</a></li>
                                    <li><a href="">Eliminar</a></li>
                                    <li><a href="">Editar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Votações <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="">Adicionar</a></li>
                                    <li><a href="">Eliminar</a></li>
                                    <li><a href="">Editar</a></li>
                                    <li><a href="">Resultados</a></li>
                                </ul>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Gestão e Orçamento <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/admin2/documents/add">Adicionar</a></li>
                                    <li><a href="">Eliminar</a></li>
                                    <li><a href="">Editar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="featured-content">
                Mensagens
            </div>
        </div>

        <div class="container">
            <div class="tabs">
                Ocorrências
            </div>
        </div>

        <div class="container">
            <div class="featured-content">
                 <table class="table">
                            <tr>
                                <th> Id </th>
                                <th> Username </th>
                            </tr>
                            {% if aprovar.values.first != None %}
                                {% for b in aprovar %}

                                    <tr>
                                        <td>{{ b.user.id }}</td>
                                        <td>{{ b.user.username }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <div class = "textclass">
                                    <h2> Sem Utilizadores para Aprovar </h2>
                                </div>
                            {% endif %}

                 </table>
            </div>
        </div>

        <script src="{% static "js/jquery-1.9.1.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>

        {%  else %}
            <script type="text/javascript">
                alert("Você não dispõe de permissão!")
                window.location="/";
            </script>
    {% endif %}

</body>
</html>